@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;

}
/* Common CSS Styles */
body {
    overflow-x: hidden;
}

.display-flex{
    display: flex;
}
.primary-btn{
    border-radius: 8px;
    background: rgb(255, 144, 14);
    width: 180px;
    height: 64px;
    color: #FFF;
    padding: 15px 25px;
    font-size: 1.2rem;
    font-family: Work Sans;
    border: none;    
}
section{
    max-width: 1440px;
    margin: 0 auto;
}


/* NavBar Styles and Bannar style */
.header{
    max-width: 1440px;
    margin: 0 auto;
    background-color:rgba(255, 144, 14, 0.1);
    padding: 0px 100px;
    max-height: 1320px;
    margin-bottom: 150px;
}

.nav-container{
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 45px;

}
.nav-menu{
    list-style: none;
    
}
.nav-menu>li>a{
    text-decoration: none;
    margin-right: 20px;
    color: rgb(66, 66, 66);
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;    


}
.title{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: center;    
}
.banner-title{
    font-family: Work Sans;
    font-size:2rem;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0%;
    text-align:center; 
    margin-bottom: 25px;
}
.bannar-description{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 30px;    
}
.bannar-content{
    max-width: 862px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bannar-image{
    max-width: 100%;
}

/* Header Section Nav & Bannar Responsive  */
@media screen and (max-width: 576px) {

    .nav-container{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .header{
        height: 100%;
    }
    .bannar-description{
        margin: 30px;
    }

    .image-boder{
        width: 100%;
        height: 100%;
    }
    
}


/* quick-list Section design */
.quick-list{
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 1440px;
    padding: 0px 100px;
    
}

.quick-list-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;

}
.image{
    height: 342px;
    width: 342px;
}
.quick-list-description{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;   
}
.quick-list-title{
    font-family: Work Sans;
    font-size:2rem;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: left;
}
.quick-list-heading{
    color: #727272;
}
.of-our-heading{
    color: #131313;

}
.features-heading{
    color: #FF900E;

}
/* Quick-list section Responsive  */

@media screen and (max-width:576px) {
    .quick-list{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        
    }
    .quick-list-image{
        grid-template-columns: repeat(1,1fr);
    }

    
}
/* Feratures we love and enjoy section */

.features-love{
    margin-top: 150px;
    justify-content: space-between;
    gap: 100px;
    /* height: 1049px; */
    padding: 0px 100px;
    max-width: 1440px;
    max-height: 1059px;

}
.features-love-card,.card-image-item{
    max-width: 586px;
    height: 982px;
    width: 100%;
}
.card-image{
    max-width: 100%;
    max-height: 100%;
}

.features-love-title{
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 26px;
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 2rem;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;  
  
}
.heading-card-description{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;    
    margin-top: 10px;
    margin-bottom: 10px;    
}
.card-description{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;    
    margin-top: 10px;
}
.card-title{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;    
    margin-top: 20px;
}
.card{
    padding: 10px 10px;
    border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    margin: 10px 0px;    
}
.card-btn{
    width: 342px;
    height: 200px;
    font-size: 1.5rem;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    font-family: Work Sans;
    border: none;
    color: #FFF;   
    padding: 15px 25px;  
    margin-top: -100px;
    margin-left: -50px;
}
.card-btn-1{
    color: #FFF;
    font-size: 4rem;
    font-weight:bold;
}
/* Feature we love  section Responsive  */

@media screen and (max-width:576px) {

    .features-love{
        flex-direction: column;
        /* gap: 492px; */
        padding: 0px 55px;
            
    }
    .card-image-item{
        margin-top: 390px;
        overflow: hidden;
        object-fit: cover;
    }
 
    
}
